
.allcontainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    justify-content: center;
}

.pokicontainer{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border-radius: 10px;
    background-color: #fff;
    margin: 15px;
    height: 350px;
    justify-content: space-evenly;
   /*  padding: 50px 0; */

   box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.name{
    display: flex;
    min-width: 300px;
    justify-content: center;
    align-self: center;
    margin-top: 1rem;
}
.imagewrapper{
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin:  auto 1rem;
    padding: 0 65px;
    background-color: #d3d3d3;

    
}
img{
    max-width: 150px;
    
}
img:hover{
    max-width: 200px;
    
}
.detail_wrapper{
    display: flex;
    flex-direction: column;
    min-width: 15%;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

h1{
    text-align: center;
    margin: 2rem 0;
}

h4{
    text-align: center;
    margin: auto;
}

.btn{
   display: flex;
   justify-content: center;
   align-items: center;
    margin: 2rem 0;
}

.btn button{
    border: none;
    padding: 1rem 3rem;
    border-radius: 10px;
    background-color:#5cb9b6;
    color: white;
    font-weight: bold;
 }

.winner{
    color:green;
    font-weight: bold;
}

.lose{
    color:red;
    font-weight: bold;
}